<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://portal.consultoriaeco.com.br/IMG/LogoEco.png"
          class="img-fluid"
          alt="logo"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <div class="mb-2">
            <input
              [(ngModel)]="user.name"
              [ngModelOptions]="{ standalone: true }"
              type="text"
              required
              class="form-control form-control-lg"
              placeholder="Insira seu nome"
            />
          </div>

          <div class="mb-2">
            <input
              [(ngModel)]="user.email"
              [ngModelOptions]="{ standalone: true }"
              type="email"
              required
              class="form-control form-control-lg"
              placeholder="Insira seu e-mail"
            />
          </div>

          <div class="mb-2">
            <input
              [(ngModel)]="user.password"
              [ngModelOptions]="{ standalone: true }"
              type="password"
              required
              class="form-control form-control-lg"
              placeholder="Insira sua senha"
            />
          </div>
          <div class="mb-2">
            <input
              [(ngModel)]="user.confirmPassword"
              [ngModelOptions]="{ standalone: true }"
              type="password"
              required
              class="form-control form-control-lg"
              placeholder="Confirmar senha"
            />
          </div>

          <div class="text-center flex-end text-lg-start mt-4 pt-2">
            <button
              (click)="register()"
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Registrar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
